<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129372179497-vmdpcjoo4hkbndtejhrenv15he1a5kfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129372179497-vmdpcjoo4hkbndtejhrenv15he1a5kfe</string>
	<key>API_KEY</key>
	<string>AIzaSyBQGZpC3ZVCX1t4KEhVCGUehBMA4HIsDiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>129372179497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.budi</string>
	<key>PROJECT_ID</key>
	<string>budi-89ac9</string>
	<key>STORAGE_BUCKET</key>
	<string>budi-89ac9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129372179497:ios:2d269386551600707da038</string>
</dict>
</plist>